*{
	text-decoration:  none;
	list-style: none;
	margin: 0;
	padding: 0;
}
p{
	font-family: Verdana;
	font-size:17
	font-style: italic;
}

h1{
	display: flex;
	height: 80px;
	width: 500px;
	align-items: center;
	justify-content: space-evenly;
}
nav{
	background:#698733;
	height:80px;
}
nav ul{
	float:right;
	margin-right: 2-px;
}
nav ul li{
	display: inline-block;
	line-height:80px;
	margin: 10px;
}
nav ul li a{
	color: white;
	font-size:20;
	text-transform: uppercase;
}